stages:
  - test
  - build

# Run type checks and unit tests
unit_tests:
  stage: test
  image: node:22-alpine
  script: |
    cd code/frontend_web
    
    # Compatibility issue fixed with --legacy-peer-deps
    /usr/local/bin/npm ci --legacy-peer-deps
    
    /usr/local/bin/npm run type-check
    /usr/local/bin/npm run test:unit
  only:
    - branches

# Run the Cypress E2E/Integration Tests
# This test needs the application to be running first.
integration_tests:
  stage: test
  image: node:22-bookworm

  variables:
    PROJECT_DIR: code/frontend_web

  script: |
    apt-get update -y
    apt-get install -y xvfb chromium
    
    cd $PROJECT_DIR
    
    /usr/local/bin/npm ci --legacy-peer-deps
    
    /usr/local/bin/npm run dev &
    
    echo "Waiting 5 seconds for the Vite development server to start..."
    sleep 5
    
    xvfb-run npm run test:e2e -- --browser chromium

  artifacts:
    when: always
    paths:
      - code/frontend_web/cypress/screenshots/
      - code/frontend_web/cypress/videos/
    expire_in: 1 day
  only:
    - branches

# Build the Docker image for the frontend
frontend_build:
  stage: build
  image: docker:24.0.7
  services:
    - docker:dind
  variables:
    DOCKER_DRIVER: overlay2
  script:
    - cd code/frontend_web
    - echo "Logging in to GitLab Container Registry..."
    - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" "$CI_REGISTRY" --password-stdin
    - echo "Building Docker image..."
    - docker build -t $CI_REGISTRY_IMAGE/frontend_web:$CI_COMMIT_SHORT_SHA .
    - echo "Pushing Docker image..."
    - docker push $CI_REGISTRY_IMAGE/frontend_web:$CI_COMMIT_SHORT_SHA
  only:
    - main